<div class="contact-picture"></div>
  <section id="contact" class="content-section text-center contact-box">
    <div class="contact-section">
      <div class="container-fluid">
        <h2>Contact Us</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= form_for :mail, url: sendemail_path, :html => {:class => 'form-horizontal'} do |f| %>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control", placeholder: "Jane Doe" %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :email, class: "form-control", placeholder: "jane.doe@example.com" %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.text_field :message, class: "form-control", placeholder: "Message" %>
                </div>
                <%= f.submit :class => 'btn btn-default'  %>
              <% end  %>
          </div>
        </div>
      </div>
    </div>
  </section>
