<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
       <li data-target="#myCarousel" data-slide-to="3"></li>
       <li data-target="#myCarousel" data-slide-to="4"></li>
   </ol>

   <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
     <div class="item active">
       <%= image_tag("profil.jpg") %>
     </div>

     <div class="item">
          <%= image_tag("image053.jpg") %>
     </div>

     <div class="item">
         <%= image_tag("image041.jpg") %>
     </div>

     <div class="item">
         <%= image_tag("image033.jpg") %>
     </div>
     <div class="item">
          <%= image_tag("image037.jpg") %>
     </div>
   </div>

   <!-- Left and right controls -->
   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>

<h3> Dawood wooden eyewear stands out as an eco-friendly, completely hand crafted, all-natural product
that will meet even the most demanding tastes.</h3>

  <p>The story of Dawood started quite unexpectedly, when a passionate guitar player decided to make his
own guitar, almost a decade ago. That's when he fell in love with wood crafting and started creating
other wooden products as well.
After a long search for the perfect pair of glasses that would please his need for quality, natural look
and beauty of design, he decided to make his own glasses. The rest is history...</p>


<h3>Features:</h3>
<ul>
  <li>Very lightweight and durable frames</li>
  <li>High quality CR39 lenses with UV400 filter (made in Europe)</li>
  <li>Highest quality double-spring hinges</li>
  <li>Nosepads made of rosewood</li>
  <li>Finished with natural oils and bee wax</li>
  <li>Every pair comes with a genuine leather case</li>
</ul>

<p>Dawood is a small manufacture which, unlike in most of the mass productions, uses only air dried,
precious solid wood to make small quantities of the best quality wooden frames. Both domestic and
exotic wood types are used to create premium wooden glasses.
Dawood wooden glasses are made of European ash, walnut, plain and flame maple, plum, cherry, and
exotic species, such as padouk, sapele mahogany, zebra wood and wenge.</p>
