<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
       <li data-target="#myCarousel" data-slide-to="3"></li>
       <li data-target="#myCarousel" data-slide-to="4"></li>
   </ol>

   <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
     <div class="item active">
       <%= image_tag("photo3.jpg") %>
     </div>

     <div class="item">
          <%= image_tag("photo1.jpg") %>
     </div>

     <div class="item">
         <%= image_tag("photo2.jpg") %>
     </div>

     <div class="item">
         <%= image_tag("photo4.jpg") %>
     </div>
     <div class="item">
          <%= image_tag("photo15.jpg") %>
     </div>
   </div>

   <!-- Left and right controls -->
   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>

  <div class="opis">
    <p>Dawood is a small manufacture which, unlike in most of the mass productions, uses only air dried,
    precious solid wood to make small quantities of the best quality wooden frames. Both domestic and
    exotic wood types are used to create premium wooden glasses.
    Dawood wooden glasses are made of European ash, walnut, plain and flame maple, plum, cherry, and
    exotic species, such as padouk, sapele mahogany, zebra wood and wenge.</p>
  </div>

    <%= image_tag 'ton.jpg', :class => "paletadrveta" %>


<div class="jumbotron prvi-tekst">
  <h3> Dawood wooden eyewear stands out as an eco-friendly, completely hand crafted, all-natural product
  that will meet even the most demanding tastes.</h3>
</div>

<%= image_tag 'skupina.JPG', :class => "firstpic" %>

<div class="historija"
  <p>History</p>
  <hr class="style14">
  <p>The story of Dawood started quite unexpectedly, when a passionate guitar player decided to make his
  own guitar, almost a decade ago. That's when he fell in love with wood crafting and started creating
  other wooden products as well.
  After a long search for the perfect pair of glasses that would please his need for quality, natural look
  and beauty of design, he decided to make his own glasses. The rest is history.</p>
</div>

<div class="odlike">
  <div class="row">
    <div class="col-md-6">
      <h3>FEATURES:</h3>
        <p>Very lightweight and durable frames</p>
        <p>High quality CR39 lenses with UV400 filter (made in Europe)</p>
        <p>Highest quality double-spring hinges</p>
        <p>Nosepads made of rosewood</p>
        <p>Finished with natural oils and bee wax</p>
        <p>Every pair comes with a genuine leather case</p>
    </div>
  <div class="col-md-6">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
       <!-- Indicators -->
       <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
           <li data-target="#myCarousel" data-slide-to="3"></li>
           <li data-target="#myCarousel" data-slide-to="4"></li>
           <li data-target="#myCarousel" data-slide-to="5"></li>
       </ol>
       <!-- Wrapper for slides -->
       <div class="carousel-inner" role="listbox">
         <div class="item active">
           <%= image_tag("photo7.jpg") %>
         </div>

         <div class="item">
              <%= image_tag("photo5.jpg") %>
         </div>

         <div class="item">
             <%= image_tag("photo6.jpg") %>
         </div>

         <div class="item">
             <%= image_tag("photo8.jpg") %>
         </div>
         <div class="item">
              <%= image_tag("photo9.jpg") %>
         </div>
         <div class="item">
              <%= image_tag("photo10.jpg") %>
         </div>
       </div>

       <!-- Left and right controls -->
       <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
      </div>
  </div>
</div>
</div>

<div id="masonry">
  <%= image_tag("galery1.JPG") %>
  <%= image_tag("galery2.JPG") %>
  <%= image_tag("galery3.JPG") %>
  <%= image_tag("galery4.JPG") %>
  <%= image_tag("oko.JPG") %>
  <%= image_tag("oki.JPG") %>
</div>








<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Plum
Scientific Name: Prunus domestica
Distribution: Widely cultivated in temperate areas worldwide
Color/Appearance: Plum heartwood can exhibit a cornucopia of colors, typically a yellowish brown, with streaks of pink, orange, red, purple, olive, or gray mixed in. Because of the small size of plum trees, swirled or irregular grain, as well as knots and other defects are common.
Comments: Although Plum is related to Cherry, it tends to be heavier and harder than Cherry, and much more scarce. Sizes are very limited, so Plum tends to be assigned primarily to smaller, more decorative purposes.
      </div>
    </div>
  </div>
</div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Maple
  Scientific Name: Acer campestre
  Distribution: Europe
  Color/Appearance: Unlike most other hardwoods, the sapwood of maple lumber is most commonly used rather than its heartwood. Sapwood color ranges from nearly white, to an off-white cream color, sometimes with a reddish or golden hue. The heartwood tends to be a darker reddish brown. Maple can also be seen with curly or quilted grain patterns.
  Comments: Although small and slow growing, Field Maple contends with Hard Maple (Acer saccharum) as being one of the hardest and heaviest maples around.  One of its claims to fame is that Field Maple  was used by Antonio Stradivari in making some of his famous violins.
      </div>
    </div>
  </div>
</div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Padauk
Scientific Name: Pterocarpus soyauxii
Distribution: Central and tropical west Africa
Color/Appearance: Heartwood color can vary, ranging from a pale pinkish orange to a deep brownish red. Most pieces tend to start reddish orange when freshly cut, darkening substantially over time to a reddish/purplish brown (some lighter pieces age to a grayish brown). See the article Preventing Color Changes in Exotic Woods for more information.
Comments: Padauk has a very unique reddish orange coloration, and the wood is sometimes referred to by the name Vermillion.
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Europian walnut
  Scientific Name: Juglans regia
  Distribution: Eastern Europe and western Asia
  Color/Appearance: Heartwood can range from a lighter pale brown to a dark chocolate brown with darker brown streaks. Color can sometimes have a gray, purple, or reddish cast. Sapwood is nearly white. European Walnut can occasionally also be found with figured grain patterns such as: curly, crotch, and burl.
  Comments: Known in Europe simply as “Walnut,” or “Common Walnut,” English Walnut (Juglans regia) is the source of what are the most common form of edible walnuts for human consumption.
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Black Walnut
  Scientific Name: Juglans nigra
  Distribution: Eastern United States
  Color/Appearance: Heartwood can range from a lighter pale brown to a dark chocolate brown with darker brown streaks. Color can sometimes have a grey, purple, or reddish cast. Sapwood is pale yellow-gray to nearly white. Figured grain patterns such as curl, crotch, and burl are also seen.
  Comments: It would be hard to overstate Black Walnut’s popularity among woodworkers in the United States. Its cooperative working characteristics, coupled with its rich brown coloration puts the wood in a class by itself among temperate-zone hardwoods. To cap it off, the wood also has good dimensional stability, shock resistance, and strength properties.
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Sapele
  Scientific Name: Entandrophragma cylindricum
  Distribution: Tropical Africa
  Color/Appearance: Heartwood is a golden to dark reddish brown. Color tends to darken with age. Besides the common ribbon pattern seen on quartersawn boards, Sapele is also known for a wide variety of  other figured grain patterns, such as: pommele, quilted, mottled, wavy, beeswing, and fiddleback.
  Comments: Sapele is sometimes referred to as “Sapele Mahogany.” Technically, the two genera that are commonly associated with mahogany are Swietenia and Khaya, while Sapele is in the Entandrophragma genus, but all three are included in the broader Meliaceae family, so comparisons to true mahogany may not be too far fetched.
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Wenge
Scientific Name: Millettia laurentii
Distribution: Central Africa
Color/Appearance: Heartwood is medium brown, sometimes with a reddish or yellowish hue, with nearly black streaks. Upon application of a wood finish (particularly an oil finish) the wood can become nearly black.
Comments: Usually pronounced WHEN-gii or WHEN-ghay, the wood has excellent strength and hardness properties, and is also dark enough to be used as a substitute for ebony.
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
  European Ash
Scientific Name: Fraxinus excelsior
Distribution: Europe and southwestern Asia
Color/Appearance: The heartwood is a light to medium brown color, though darker streaks can also be seen, which is sometimes sold as Olive Ash. Sapwood can be very wide, and tends to be a beige or light brown; not always clearly or sharply demarcated from heartwood.
Comments: European Ash has fairly good strength properties for its weight, and is also shock resistant.
When stained, ash can look very similar to oak (Quercus spp.), although oaks have much wider rays, which are visible on all wood surfaces—even on flatsawn surfaces, where they appear as short, thin brown lines between the growth rings. Ashes lack these conspicuous rays.
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Zebrawood
        Scientific Name: Microberlinia brazzavillensis
        Distribution: West Africa
        Color/Appearance: Heartwood is a light brown or cream color with dark blackish brown streaks vaguely resembling a zebra’s stripes. Depending on whether the wood is flatsawn or quartersawn, the stripes can be either chaotic and wavy (flatsawn), or somewhat uniform (quartersawn).
        Comments: Sometimes called Zebrano, the wood is strong and stiff, with a fairly high density. However, the wood is much more frequently used for its bold and unique striping.
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        Cherry
Scientific Name: Prunus avium
Distribution: Europe and Asia
Color/Appearance: Heartwood is a light pinkish brown when freshly cut, darkening to a deeper golden brown with time and upon exposure to light. Sapwood is a pale yellowish color, typically 1-2″ wide.
Comments: Sweet Cherry is the Old World counterpart to Black Cherry found in North America. Sweet Cherry is said to exhibit a bit more of a color contrast than Black Cherry, and it also tends to be slightly denser and stronger. However, the tree itself tends to be smaller than Prunus serotina, and does not yield the larger sizes of lumber that are available for the American species.
      </div>
    </div>
  </div>
</div>
